<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/styles/main.css">
    <title>Home Page</title>
</head>
<body>
    <%- include('../partials/navbar') %>
 <h1>Students</h1>
 <div>
​
        <% students.map(function(student){ %>
​
        <div>
            <a href="/students/<%= student._id %>">
                <h2><%= student.firstName %>
                    <%= student.lastName %></h2>
                    <p><%= student.age %></p>
                    <p><%= student.country %></p>
                    <p><%= student.skills%></p>
                    <p><%= student.bio%></p>
            </a>
​
        </div>
​
​
        <% }) %>
​
    </div>

</body>
</html>